{# Render Flask messages. #}
{%- macro render() -%}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <div id="flash-messages" class="row mb-4 justify-content-center">
        {% for category, msg in messages %}
          {% if category == "error" %}
            {% set category = "danger" %}
          {% endif %}

          {% if category == "warning" %}
            {% set category = "warning" %}
          {% endif %}

          <div class="alert alert-{{ category }}" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{%- endmacro -%}
