{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}
{% import 'macros/user.html' as account %}

{% block title %}{{ gettext("Admin - Users / List") | safe }}{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ f.search('admin.users') }}

        {% if users.total == 0 %}
          <h3>{{ gettext("No results found") | safe }}</h3>

          {% if request.args.get('q') %}
            <p>{{ gettext("Try limiting or removing your search terms.") | safe }}</p>
          {% else %}
            <p>{{ gettext("There are no users present,
               you should") | safe }} <a href="{{ url_for('user.signup') }}">{{ gettext("sign up") | safe }}</a>.</p>
          {% endif %}
        {% else %}
          {% call f.form_tag('admin.users_bulk_delete') %}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th id="bulk_actions" colspan="4">
                    <div class="form-inline right-align">
                      {{ f.field(bulk_form.scope, inline=True) }}
                      <button type="submit"
                      class="btn btn-primary btn-sm center ml-2">
                        {{ gettext("Delete items") | safe }}
                      </button>                      
                    </div>
                  </th>
                </tr>
                <tr>
                  <th>
                    <label for="select_all"></label>
                    <input id="select_all" name="select_all" type="checkbox">
                  </th>
                  <th class="js-col-header">
                    {{ items.sort('created_on', gettext('Registered')) }}
                  </th>
                  <th class="js-col-header">
                    {{ items.sort('name', gettext("Name")) }}
                  </th>
                  <th class="js-col-header">
                    {{ items.sort('last_sign_in_on', gettext('Activity')) }}
                  </th>
                  <th class="js-col-header">
                    {{ items.sort('sign_in_count', gettext('Sign in count')) }}
                  </th>
                </tr>
              </thead>
              <tbody>
              {% for user in users.items %}
                <tr>
                  <td>
                    <label for="bulk_ids"></label>
                    <input class="js-checkbox-item" id="bulk_ids" name="bulk_ids"
                           type="checkbox" value="{{ user.id }}">
                  </td>
                  <td>
                    <time class="js-from-now"
                          data-datetime="{{ user.created_on }}">
                      {{ user.created_on }}
                    </time>
                  </td>
                  <td>
                    <a class="no-underline"
                       href="{{ url_for('admin.users_edit', id=user.id) }}">
                      <div class="media">
                        {{ account.role_icon_for(user) }}
                        <div class="media-body">
                          <h5 class="mt-0 mb-1">{{ user.username }}</h5>
                          <p class="text-muted mb-1">{{ user.email }}</p>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td class="small">
                    {% if user.last_sign_in_on %}
                      {{ gettext("Last seen") | safe }}:
                      <time class="js-from-now"
                            data-datetime="{{ user.last_sign_in_on }}">
                        {{ user.last_sign_in_on }}
                      </time>
                    {% endif %}
                  </td>
                  <td>{{ user.sign_in_count }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endcall %}

          {{ items.paginate(users) }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
