{% extends "layouts/app.html" %}
{% import "macros/form.html" as f with context %}

{% block title %}{{ gettext("Contact us with your feedback or issues") | safe }}{% endblock %}
{% block meta_description %}{{ gettext("Contact our customer service department with any questions or concerns.") | safe }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 card bg-light">
                {% call f.form_tag("contact.index") %}
                    <h2 class="mt-2 mb-4">{{ gettext("Have a question?") | safe }}</h2>

                    {% call f.form_group(form.email, placeholder= gettext("E-mail address") | safe ) %}
                    {% endcall %}

                    {% call f.form_group(form.message, placeholder= gettext("The more we know, the easier it will be to help you.") | safe, rows='12') %}
                    {% endcall %}
                    
                    {% call f.form_group(form.recaptcha) %}
                    {% endcall %}

                    <button type="submit" class="btn btn-primary mb-3">
                        {{ gettext("Send E-mail") | safe }}
                    </button>    
                {% endcall %}
            </div>
        </div>
    </div>
{% endblock %}