{% extends "layouts/login.html" %}
{% import "macros/form.html" as f with context %}

{% block title %}Sign up for a new account{% endblock %}
<div class="col-md-6 card bg-light">
    {% call f.form_tag("user.signup") %}
        <h2 class="mt-2 mb-4">Sign up today</h2>

        {% call f.form_group(form.username, autofocus="autofocus", placeholder="Username") %}
        {% endcall %}

        {% call f.form_group(form.email, autofocus="autofocus", placeholder="Email address") %}
        {% endcall %}

        {% call f.form_group(form.password) %}
        {% endcall %}

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-block">
                    Sign Up
                </button>
            </div>
            <div class="col-md-6">
                <a href="{{ url_for("user.login") }}" class="btn btn-outline-secondary btn-block">
                    Sign In
                </a>
            </div>
        </div>
    {% endcall %}
</div>
{% block body %}

{% endblock %}