{% extends 'layouts/base.html' %} 

{% block header %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src={{ url_for("static", filename="images/tides.png") }}
    class="img-fluid" alt="Tides" title="Tides" width="30" height="30" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for("page.home") }}">{{ gettext("Home") | safe }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ gettext("Pricing") | safe }}</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      {% if current_user.role == "admin" %}
        {% include "admin/_menu.html" %}
      {% endif %}
      {% if current_user.is_authenticated %}
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for("user.settings") }}">{{ gettext("Settings") | safe }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for("user.logout") }}">{{ gettext("Log Out") | safe }}</a>
        </div>
      </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for("user.login") }}">{{ gettext("Log In") | safe }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for("user.signup") }}">{{ gettext("Sign Up") | safe }}</a>
        </li>      
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %} 

{% block footer %}
<li class="list-inline-item">
  <a href="{{ url_for('contact.index') }}">{{ gettext("Contact") | safe }}</a>
</li>
<li class="list-inline-item">
  <a href="{{ url_for('page.privacy') }}">{{ gettext("Privacy Policy") | safe }}</a>
</li>
<li class="list-inline-item">
  <a href="{{ url_for('page.terms') }}">{{ gettext("Terms of Service") | safe }}</a>
</li>
{% endblock footer %}
