{% extends 'layouts/app.html' %}

{% block title %}{{ gettext("Account settings") | safe }}{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>{{ gettext("Settings") | safe }}</h2>
        <h5 class="text-muted">{{ current_user.email }}</h5>
        <div class="list-group">
          <a href="{{ url_for('user.update_credentials') }}"
             class="list-group-item list-group-item-action">
            {{ gettext("Update email and password") | safe }}
          </a>
          <a href="{{ url_for('user.update_locale') }}"
             class="list-group-item list-group-item-action">
            {{ gettext("Update language") | safe }}
          </a>
          <span class="list-group-item text-muted">
            {{ gettext("Username") | safe }}:
            <strong> {{ current_user.username }}</strong>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
